<<<<<<< HEAD
.navbar {
	background: #222729;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
=======
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400);

#shortStoryDiv p{
 text-align:left;
}


body, html{
	font-family: 'Lato', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #5a5a5a;
>>>>>>> parent of d248d1a... more comments
}
.navbar-default .navbar-brand {
     color: #fff;
}